# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
.build/
.dist/

# Packaging
/dist/
/build/
/*.egg

# Virtual env
.venv/
.env/

# IDE
.vscode/
.idea/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
